{% from 'bootstrap5/form.html' import render_form %}
{% extends 'base.html' %}

{% block css %}
<link href="{{ url_for('static', filename='template.css') }}" rel="stylesheet">
{% endblock %}

{% block title %} {TODO} Template Name {% endblock %}

{% block content %}
    <h1>{{ template.name }}</h1>
    <div class="container">
        <!-- 3 Columns for To-Do, In Process, and Complete -->
        <div class="todo-columns">

            <!-- To-Do Column -->
            <div class="column">
                <h2>To-Do</h2>
                {% for task in tasks %}
                    {% if task.status == 0 %}
                        <div class="todo-card">
                            <h3>{{ task.name }}</h3>
                            <p>{{ task.description }}</p>
                            <form class="actions" method="POST" action="{{ url_for('task_action', template_id=template.id, task_id=task.id) }}">
                                <button class="delete-btn" name="action" value="delete">Delete</button>
                                <button class="process-btn" name="action" value="in-process">In Process</button>
                            </form>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>




            <!-- In Process Column -->
            <div class="column">
                <h2>In Process</h2>
                {% for task in tasks %}
                    {% if task.status == 1 %}
                        <div class="todo-card">
                            <h3>{{ task.name }}</h3>
                            <p>{{ task.description }}</p>
                            <form class="actions" method="POST" action="{{ url_for('task_action', template_id=template.id, task_id=task.id) }}">
                                <button class="btn btn-primary" name="action" value="todo">To-Do</button>
                                <button class="delete-btn" name="action" value="delete">Delete</button>
                                <button class="complete-btn" name="action" value="complete">Complete</button>
                            </form>
                        </div>
                    {% endif %}
                {% endfor %}
                <!-- Additional tasks can be dynamically added here -->
            </div>

            <!-- Complete Column -->
            <div class="column">
                <h2>Complete</h2>
                {% for task in tasks %}
                    {% if task.status == 2 %}
                        <div class="todo-card">
                            <h3>{{ task.name }}</h3>
                            <p>{{ task.description }}</p>
                            <form class="actions" method="POST" action="{{ url_for('task_action', template_id=template.id, task_id=task.id) }}">
                                <button class="process-btn" name="action" value="in-process">In Process</button>
                                <button class="delete-btn" name="action" value="delete">Delete</button>
                            </form>
                        </div>
                    {% endif %}
                {% endfor %}
                <!-- Additional tasks can be dynamically added here -->
            </div>
        </div>
        <div style="padding-top: 20px">
            <a class="btn btn-primary" href="{{ url_for('add_task', template_id=template.id) }}">Add Task</a>
        </div>

    </div>
{% endblock %}


